

.bg{ 
    margin: 0;
    padding: 0;
    height: 100%;
    background: #584EA7;/* linear-gradient(90deg, rgba(0,212,255,1) 45%, rgba(30,64,196,1) 77%); */
    position: relative;
    padding-top: 50px;
    min-height: 100vh;
  }

  .row {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    height: 120px;
    width: 80%;
    margin: auto;
    background-color: #16076E;
    color: #000;
    margin-bottom: 2vw;
    margin-top: 2vw;
    border: solid 0.2vw #CCAAF0;
  }
  
  .item {
    margin: auto;
    background-color: #fff;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    width: 20%;
  }

  .title1 {
    color: #999;
    margin: 0;
    font-size: 1.5vw;
  }

  .title {
    margin: 0;
    font-size: 1.5vw;
  }

  .item img{
    height: 100%;
    width: 100%;
  }

  .logo img{
    position: absolute;
    margin: auto;
    top: 2%;
    left: 46%;
    width: 7%;
    border-radius: 100%;
    border: solid 0.3vw #16076E;
  }

  .twoButtons{
    margin-bottom: 1.5vw;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button { 
    font-size: 2vw;
    border-radius: 25px;
    width: 30%;
    cursor:pointer;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin-bottom: 2vw;
  }

  .button svg {
    width: 4vw;
    height: 2.5vw;
  }

  .friends {
    width: 30%;
    margin: auto;
    border-radius: 25px;
    background-color: #5096F8;
    margin-bottom: 2vw;  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .friendsButton{
    border-radius: 999px;
    width: 100%;
    height: 4vw;
    color: #fff;
    background-color: #5096F8;
    font-size: 25px;
    cursor:pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .friendsButton svg {
    width: 4.5vw;
    height: 3vw;
  }

  .text{
    border-radius: 25px;
    height: 100px;
    width: 70%;
    margin: auto;
    background-color: #fff;
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
  }

  .playButton {
     width: 15%;
     margin: auto;
     margin-bottom: 1vw;
     border-radius: 20px;
     background-color: #59BB64;
     border: solid 0.4vw #207D48;
     cursor:pointer;
    }
    
  .playInside {
    display: flex;
  }

  .playArrow{
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative;
    top: 0;
    animation-name: arrowRightLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .playArrow img {
    width: 60%;
  }

  @keyframes arrowRightLeft {
    0% { left: 0; }
    50% { left: -15px; } 
    100% { left: 0; }
  }
  
  .playSub {
    width: 50%;
    height: 100%;
    margin: auto;
  }

  .playSub p {
    font-size: 1.6vw;
    font-weight: bold;
    margin: 0.5vw;
    color: #fff;
  }
  

  .playSub img {
    width: 50%;
    margin-top: 0.5vw;
  }

  .alert {
      display: none;
      border: solid 1px #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  
      background-color: #fff;
      border-radius: 25px;
      padding: 2vw;
      z-index: 999;
  }

  .blackCover{
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.5);
  }

  .show {
    display:block;
  }
  
  .alert h2 {
    font-size: 2vw;
    text-align: right;
  }

  .alert p {
    font-size: 1.2vw;
    text-align: right;
    margin-bottom: 5vw;
  }

  .alertSubButton {
    height: 3vw;
    width: 8vw;
    border-radius: 10px;
    font-size: 1.5vw;
    position: absolute;
    right: 20px;
    bottom: 1vw;
    cursor:pointer;
    color: #fff;
    background-color: #1C8ADB;
    border: solid 0.2vw #fff;
  }

  .shareDiv {
    position: relative;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: none;
  }
  
  .shareDiv input {
    text-align: left;
    display: flex;
    border-radius: 10px;
    background-color: #F3F4F6;
    padding-left: 20%;
    font-size: 1vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
  }

  .shareDiv input:focus {
    border: solid 0.2vw #0DCAF0;
    outline: none;
  }

  .shareDiv svg {
    width: 10%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: -0.2vw;
    background-color: #E5E7EB;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 999;
  }

  .rowTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
  }

  .questionNr {
    color: #fff;
    background-color: rgba(0, 0, 0 , 0.5);   
    border-radius: 5px;
    height: 5%;
    padding: 1vw 2vw;
  }

  .exitButton {
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0 , 0.5);   
    border-radius: 0.5vw;
    padding: 0.5vw 0.7vw;
    cursor:pointer;
    font-size: 1vw;
    font-weight: bold;
  }

  .question {
    width: 80%;
    color: #fff;
    background-color: #212373;
    border: solid 0.3vw #CCAAF0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    margin: auto;
    margin-bottom: 20px;
  }

  .timer {
    width: 80%;
    margin: auto;
    border-radius: 15px;
    color: #fff;
    background-color: #212373;
    border: solid 0.3vw #CCAAF0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5vw;
  }
  
  .timer p {
    width: 1%;
    font-size: 1.5vw;
    color: #E6BE43;
    margin-left: 2%;
  }

  .timer svg{
    width: 5%;
    height: 5%;
    display: inline-block;
    border-radius: 100%;
    margin-right: 2%;
  }

  .myProgress {
    width: 100%;
    background-color: #999;
    border-radius: 5px;
    margin: 0 2%;
  }
  
  .myBar {
    width: 1%;
    height: 2.5vw;
    background-color: #E6BE43;
    border-radius: 5px;
  }

  .answer_row {
    display: flex;
    justify-content: center;
  }

  .answer {
    color: #fff;
    background-color: #212373;
    border: solid 0.2vw #CCAAF0;
    width: 35%;
    border-radius: 10px;
    padding: 2% 0;
    margin: 2%;
    cursor: pointer;
    font-size: 1.5vw;
  }

  .answer:hover {
    transform: scale(1.01);
    border: solid 0.2vw #00FF7F;
  }

  .answer.selected {
    color: #000;
    background-color: #00FF7F;
    border: solid 0.2vw #CCAAF0;
  }

  .score {
    margin: auto;
    width: 10vw;
    height: 10vw;
    background-color: #212373;
    border-radius: 10vw;
    border: solid 0.2vw #CCAAF0;
    margin-bottom: 3%;
  }

  .score h1 {
    color: #fff;
    font-size: 2vw;
  }

  .score p {
    color: #fff;
    font-size: 2vw;
    margin: 0;
  }

  .answer_results {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
  }

  
  .goProfileButton {
    font-size: 2vw;
    color: #FFFFFF ;
    background-color: #1C8ADB   ;
    border: solid 0.2vw #FFFFFF  ;
    box-shadow: 0.2vw  0.2vw 0.2vw rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    cursor:pointer;
    padding: 1vw 2vw;
  }
  
  .buttonResultCorrect{
    background-color: rgba(0, 255, 0, 0.5); 
    color: #fff;
    width: 20%;
    padding: 1.5%;
    border-radius: 0.2vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    margin-left: 1vw;
  }
  .buttonResultWrong{
    background-color: rgba(255, 0, 0, 0.5);
    color: #fff;
    width: 20%;
    padding: 1.5%;
    border-radius: 0.2vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    margin-right: 1vw;
  }

  .result_icon_wrong {
    width: 10%;
    color: #fff;
    background-color: red;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 3px;
  }

  .result_icons_true {
    width: 10%;
    color: #fff;
    background-color: green;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 3px;
  }

  .timer_div {
    margin: auto;
    width: 23%;
  }
  
  .timer_div img{
    width: 100%;
    height: auto;
  }

  .alert-message {
    border: solid 0.1vw #000;
    background-color: #FEF102;
    color: #000;
    padding: 10px;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  .login-container {
    width: 100%;
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    text-align: left;
    width: 20%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 5vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .login-form h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 2vw;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-button {
    background-color: #C6554F;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  .form-button2{
    background-color: #3A3C62;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .purpleStyle {
    color: #fff;
    background-color: #212373;
    border: solid 0.2vw #CCAAF0;
  }